* {
  text-align: center;
}

.frame {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: auto !important;
}
.frame * {
  margin: 5px;
}

.bigInput {
  height: 100px;
}

.card {
  border: solid;
  border-radius: 5px;
  padding: 5px;
}

#commentSection {
  display: flex;
  flex-flow: column-reverse;
}

/*# sourceMappingURL=style.css.map */
